apiVersion: v1
kind: Service
metadata:
  name: {{ include "flask-chart.fullname" . }}
spec:
  type: NodePort
  selector:
    app: flask
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30007
